body {
    
	margin: 0 auto;
    padding: 0;
    color:#333333;
    
	background: -webkit-radial-gradient(#F7F7F7, #CDCDCD);
    background: -o-radial-gradient(#F7F7F7, #CDCDCD);
    background: -moz-radial-gradient(#F7F7F7, #CDCDCD);
    background: radial-gradient(#F7F7F7, #CDCDCD);
	
	text-align: center;

}

#titleName {
        
    display: block;
    margin-left: auto;
    margin-right: auto;

    width:400px;
    height:auto;

}

#newGame {
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: auto;
    border: solid;
    border-radius: 5%;
    
	transition: all .03s linear;
    
}

#newGame:active {
    
    transform: translateY(10px);
    transform: scale(1.1);

}

.time_container {
    
	    margin: 80% auto;
        padding: 0;

}

#time {
    
    border: 2px solid black;
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 300%;
    
}